<input type="text" [(ngModel)]="title">
{{ title }}

<app-product></app-product>

<div [ngSwitch]="title">
    <p *ngSwitchCase="'nicolas'">Este es nicolas</p>
    <p *ngSwitchCase="'marcos'">Este es marcos</p>
    <p *ngSwitchCase="'maria'">Esta es maria</p>
    <p *ngSwitchDefault>No existe esa persona</p>
</div>

<button (click)="addItem()">addItem</button>

<ul>
<li *ngIf="items.length===0">la lista esta vacia</li>
<li *ngFor="let name of items; index as i">
    {{ name }}{{i}}
    <button (click)="deleteItem(i)">deleteItem</button>
</li>
</ul>

<div *ngFor="let elemento of products">
{{elemento.title}}
<img [src]="elemento.image">
{{elemento.price}}
{{elemento.description}}

</div>
