<input type="text" [(ngModel)]="title">
{{ title }}

<p *ngIf="title !== 'oscar'">
title no es igual a oscar
</p>

<button (click)="addItem()">addItem</button>

<ul>
<li *ngIf="items.length===0">la lista esta vacia</li>
<li *ngFor="let name of items; index as i">
    {{ name }}{{i}}
    <button (click)="deleteItem(i)">deleteItem</button>
</li>
</ul>

<button (click)="addEjemplo()">addEjemplo</button>
<ul>
    
    <li *ngFor="let oscar of ejemplo; index as i">
        {{oscar}}{{i}}
        <button (click)="deleteEjemplo(i)">deleteEjemplo</button>
    </li>

</ul>
<li *ngIf="ejemplo.length===10">Llegaste a los 10</li>
